<div class="page__footer-copyright text-center">
    <div>
        &copy; {{ site.copyright_year }}-{{ site.time | date: '%Y' }} {{ site.title }}.
    </div>
    <div class="small">
        <a href="{{ '/privacy-policy' | relative_url }}">Política de privacidad</a> |
        <a href="{{ '/integrated-policy' | relative_url }}">Política integrada</a>
    </div>
    <div class="small">
        {{ site.company }} es una entidad provista del código de identificación fiscal {{ site.cif }}
        que se encuentra inscrita en el Registro Mercantil de Granada, Tomo 1768, Libro 0, Folio 205, Sección 8, Hoja GR 56182.
    </div>
    <div class="small">
        Fecha: 21/07/2021 Año Pre.: 2021
    </div>
</div>
