.home_hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 25vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.home_hero .background_media {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    opacity: 0.5;
    background-size: cover;
    background-position: center;
}

.home_hero .description {
    position: relative;
    z-index: 1;
}

.home_hero .description .page__lead {
    margin: auto;
    text-align: center;
    font-weight: bold;
}