:root {
    --border-color: #0F477E;
    --links-color: #10508E;
    --circle: 150px;
    --header-footer: #D2E4F7;
    --background-color: #E8F1FB;
    --content: #DDEBF9;
    --border-content: #D6E6F8;
}
@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Playfair+Display+SC&display=swap');
h1, h2, h3, h4, h5 {
    font-family: 'Alegreya', serif !important;
}
html {
    background-color: var(--background-color);
}
.masthead, #site-nav, .page-title, .page__footer {
    background-color: var(--header-footer);
    color: var(--links-color);
}
#main {
    margin: 0;
    padding: 0;
    .feature__wrapper {
        padding: 0 1em;
        margin: 0 auto;
    }
}
.page-title {
    margin-bottom: 2vw;
    h1 {
        margin: 2vw 0;
        font-weight: 700;
    }
}
@media (min-width: 80em) {
    #main {
        max-width: none;
        .feature__wrapper {
            padding: 0 1em;
            margin: 0 auto;
            max-width: 1280px;
        }
    }
}
.page__hero--overlay {
    margin: 0;
}
.greedy-nav a, .text a, a{
    color: var(--links-color);
}
.home_hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 25vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.home_hero .background_media {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    opacity: 0.5;
    background-size: cover;
    background-position: center;
}
.home_hero .description {
    position: relative;
    z-index: 1;
}
.home_hero .description .page__lead {
    margin: auto;
    text-align: center;
    font-weight: bold;
}
.subtitle {
    text-align: center;
    border-bottom: 2px solid var(--border-color);
}
.staff_member, .content-container {
    padding: 1.5vw;
    border-radius: 2vw;
    border: 1px solid var(--border-content);
    background-color: var(--content);
    margin-bottom: 4vw;
}
.content-container h2, .staff_member .archive__item-title {
    margin-top: 0;
}
.text{
    margin-top: 20px;
    a:hover {
        color: blue;
    }
}

#scroll-to-top {
    z-index: 2;
    position: fixed;
    display: none;
    bottom: 10px;
    right: 10px;
    background-color: var(--header-footer);
    text-align: center;
    border: 1px solid black;
    border-radius: 4vh;
    padding: 0 1vh;
    opacity: 0.7;
    transform: rotate(90deg);
    cursor: pointer;
    &:hover {
        background-color: white;
    }
}
  
@media (min-width: 0em) { .feature__item--center { text-align: center; }}
