.img-pr{
  width: 800px;
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}
.img-pr:hover {
  transform: scale(1.1);
  filter: saturate(180%);
}
.img-cap{
  margin-bottom: 0.5em; 
  color: #3f6c98; 
  font-family: Georgia, Times, serif; 
  font-size: 0.75em;
  margin: 0px 80px 0px 220px;
}
.text{
  margin-top: 20px;
}
